.settings .right {
  flex: 1;
  padding: 2rem;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.right > * {
  flex: 0.4;
}

.profile {
  display: flex;
  align-items: center;
  width: 80%;
  box-shadow: 0px 0px 10px #eee;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 0 auto;
  margin-bottom: 5vh;
  /* justify-content: space-around; */
}

big {
  font-size: 35px;
  color: royalblue;
  margin-bottom: 20px;
}
.profile .avatar > button {
  width: 280px;
  height: 280px;
  border: 0;
  border-radius: 50%;
}

.avatar i {
  font-size: 6rem;
  color: royalblue;
}
.details {
  display: flex;
  flex-direction: column;
  background-color: white;

  font-size: 1.4rem;
  border-radius: 10px;
  padding: 50px 60px;
  margin: 40px;
}
.details > p {
  margin-bottom: 20px;
  color: grey;
}

.lower {
  width: 80%;
  margin: 0 auto;
}
hr {
  border: 1px solid #eeee;
}
.lower p {
  margin-top: 30px;
  margin-bottom: 20px;
  color: royalblue;
}
